.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stratch;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  text-align: center;
}

* {
  min-width: 0;
  min-height: 0;
}